/*Miguel Frugoni Portfolio*/

body {
	position: relative;
	background-color: #14154F;
    font-family: "Verdana", Geneva, Arial, sans-serif;
	font-size: medium;
	font-weight: normal;
	line-height: 1.7em;
	color: white;
	margin: 0px 70px 70px 70px;

}

header {
	position: fixed;
	top: 59px;
	width: 100%;
	background-color: #14154F;
	/*background: rgba(0, 0, 0, 0.4);*/
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.19);
	margin: 0px -70px 0px -70px;
	padding: 10px 30px; 
}

section img {
	margin-top: 178px;
	margin-bottom: 20px;
	border-radius: 0.5em;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

h1 {
	font-size: 2.3em;
	font-weight: bold;
	border-bottom: solid;
	border-color: #A5A6F6;
	border-width: 3px;
	padding-bottom: 15px;
	text-align: left;
}

h2 {
	font-size: 1.5em;
	margin-bottom: 50px;
	font-weight: bold;
	text-align: left;
}

h3 {
	font-size: 1.1em;
	text-align: center;
}

h4 {
	font-size: 1em;
	text-decoration: underline;
}

.titulo {
	width: 220px;
	border-color: #A5A6F6;
	border-width: 2px;
	border-style: solid;
	border-radius: 1em;
	background-color: #20215E;

	/*background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) -34.71%, rgba(255, 255, 255, 0) 100%);
	mix-blend-mode: normal;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));*/

	padding: 10px;
	/*padding-left: 25px;*/
	margin: 0px;
	margin-bottom: 30px;
}

section.descripcion {
	border-color: #343573;
	border-width: 3px;
	border-style: solid;
	border-radius: 1.5em;
	background-color: #343573;
	padding: 135px 25px;
	margin-top: 100px;
}

ul.descripcion {
	margin-top:10px;
}

section a:link {
	color: white;
	font-style: italic;
	font-size: 110%;
	text-decoration: none;
}
section a:visited {
	color: #999;
	font-size: 110%;
}
section a:hover {
	color: #007e7e;
	text-decoration: underline;
}
section a:focus {
	color: green;
}
section a:active {
	color: #222;
}

footer {
  text-align: center;
  padding: 15px;
  margin: 10px;
  font-size: 90%;
}

@media only screen and (max-width: 575px){
	section img { margin-top: 360px; }
	header { top: 275px; }
	body {margin: 0px;}
}
